/* TODO: Add mobile */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

.header {
  display: flex;
  font-size: calc(10px + 2vmin);
}

.link {
  color: #61dafb;
}

.task {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 200px;
}

.task-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 2% 4%;
  margin-top: 20px;
}

.edit-description {
  display: flex;
  align-items: center;
  margin-left: 13px;
}

.edit-icon {
  margin-right: 20px;
}

.task-title, .task-description {
  display: flex;
}

/* FORM */
.form {
  display: flex;
  justify-content: center;
  padding: 2% 4%;
  width: 60%;
  height: 220px;
}

.form-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.input {
  padding: 2%;
}